@model Vidly.Models.Risk




<h2>Add Risk</h2>
@using (Html.BeginForm("AddRisk", "Risk", FormMethod.Post))
{
    <table>
        <tr>
            <th align="left">Risk</th>
            <th align="left">Category</th>
            <th align="left">Probability</th>
            <th align="left">Impact</th>
            <th align="left">RMMM </th>
        </tr>

        <td>
            @Html.TextBoxFor(m => m.risk_name)
            <style>
                padding=25px;
            </style>
        </td>
        <td>
        @Html.TextBoxFor(m => m.risk_category)
        <style>
            padding=25px;
        </style>
            </td>
        <td>
        @Html.TextBoxFor(m => m.risk_probability)
        <style>
            padding: 25px;
        </style>
            </td>
        <td>
        @Html.TextBoxFor(m => m.risk_impact)
        <style>
            padding: 25px;
        </style>
            </td>
        <td>@Html.TextBoxFor(m => m.risk_RMMM)</td>
    </table>

    <!--also a button of type submit-->
    <input type="submit" value="Add Risk" />

     <!--Button for Clear Form-->
    <input type="button" value="Clear Form" onclick="location.href='@Url.Action("BuildRiskTable", "Risk")'" />

    <!--button -->
    <input type="button" value="Create Table" onclick="location.href='@Url.Action("Export", "Risk" )'" />

    <!--Help Button-->
   
        <button type="button"  data-toggle="collapse" data-target="#helpButton">Help</button>
        <div id="helpButton" class="collapse">

            <h4>Risk</h4>
            <p>Here you want to classify the Risk name. (up to 50 Char.)</p>
            <p>Example: You have been given funding by a certain investor. The investor has the option to backout at anytime if they feel the project is failing. 
                    So in the Risk textbox the simple input of "Funding may be Lost" would suffice.</p>

            <h4>Category</h4>
           <p>This is the category of the risk. Usually an abbreviation is used that is determined by the team. (Up to 4 characters)</p>
            

            <h4>Probability</h4>
            <p>This is the probability that the risk will happen. (Between 1 and 100 percent)</p>
            <p>A risk that is likely to happen will have a high probability.</p>
            <h4>Impact</h4>
            <p>This is the impact the risk will have on the software. A higher number has a more harmful impact. (Numbers 1 through 4)</p>
            <h4>RMMM(RM3)</h4>
            <p>This is an optional field to fill in. This pointer will reference the risk in more detail on it's place on the Risk Information Sheet</p>
        </div>
   




}