@model Vidly.Models.Risk
<h2>Add Risk</h2>
@using (Html.BeginForm("AddRisk", "Risk", FormMethod.Post))
{
    <table>
        <tr>
            <th align="left">Risk</th>
            <th align="left">Category</th>
            <th align="left">Probability</th>
            <th align="left">Impact</th>
            <th align="left">RMMM </th>
        </tr>

        <td>
            @Html.TextBoxFor(m => m.risk_name)
            <style>
                padding=25px;
            </style>
        </td>
        <td>
        @Html.TextBoxFor(m => m.risk_category)
        <style>
            padding=25px;
        </style>
            </td>
        <td>
        @Html.TextBoxFor(m => m.risk_probability)
        <style>
            padding: 25px;
        </style>
            </td>
        <td>
        @Html.TextBoxFor(m => m.risk_impact)
        <style>
            padding: 25px;
        </style>
            </td>
        <td>@Html.TextBoxFor(m => m.risk_RMMM)</td>
    </table>
    <!--
    <input type="password" name="Password" />
    You can use HTML inputs, but it's more reliable to use strongly-typed MVC helpers.
    -->

    <!--also a button of type submit-->
    <input type="submit" value="Add Risk" />

     <!--Button for Clear Form-->
    <input type="button" value="Clear Form" onclick="location.href='@Url.Action("BuildRiskTable", "Risk")'" />

    <!--button -->
    <input type="button" value="Create Table" onclick="location.href='@Url.Action("Export", "Risk" )'" />

    <!--Help Button-->
   
        <button type="button"  data-toggle="collapse" data-target="#helpButton">Help</button>
        <div id="helpButton" class="collapse">
            <h4>Risk</h4>
            <p></p>
            <h4>Category</h4>
            <p></p>
            <h4>Probability</h4>
            <p></p>
            <h4>Impact</h4>
            <p></p>
            <h4>RMMM(RM3)</h4>
            <p></p>
        </div>
   




}